
@font-face {
    font-family: 'cereal-light';
    src: url('/fonts/AirbnbCereal_light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'cereal-bold';
    src: url('/fonts/AirbnbCereal_bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  